@charset "utf-8";
{{ with .Site.Params.default_font.name }} $family-sans-serif: "{{ . }}";{{ end }}

{{ with .Site.Params.colors.primary }}$primary: {{ . }};{{ end }}
{{ with .Site.Params.colors.info }}$info: {{ . }};{{ end }}
{{ with .Site.Params.colors.success }}$success: {{ . }};{{ end }}
{{ with .Site.Params.colors.warning }}$warning: {{ . }};{{ end }}
{{ with .Site.Params.colors.danger }}$danger: {{ . }};{{ end }}
{{ with .Site.Params.colors.link }}$link: {{ . }};{{ end }}
{{ with .Site.Params.colors.link_hover }}$link-hover: {{ . }};{{ end }}
{{ with .Site.Params.colors.link_visited }}$link-visited: {{ . }};{{ end }}
{{ with .Site.Params.colors.link_focus }}$link-focus: {{ . }};{{ end }}
{{ with .Site.Params.colors.link_active }}$link-active: {{ . }};{{ end }}
{{ with .Site.Params.colors.headers }}$content-heading-color: {{ . }};{{ end }}

{{ with .Site.Params.custom_scss }}{{ . }}{{ end }}

@import "bulma/bulma.sass";
@import "bulma-tooltip/src/sass/index.sass";

// Tweaks for bulma stuff
.navbar.has-shadow {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.12);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// Specific
.has-margin-1 {
  margin: $size-1;
}
.has-margin-6 {
  margin: $size-6;
}
.has-margin-7 {
  margin: $size-7;
}

.has-width-70 {
  width: 70%;
}

.align-v-middle {
  vertical-align: middle;
}


html {
  scroll-behavior: smooth;
}

.content p {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

.image.is-pulled-left, .image.is-pulled-right {
  img {
    width: auto;
  }
}
