{{ partial "header.html" . }}
<div class="container has-margin-7">
    <div class="content{{ with .Params.css_class }} {{ . }}{{ end }}">
        <h1>{{ .Title }}</h1>
        {{ .Content }}

        {{- range .Pages }}
            <h2><a href="{{ .Permalink }}">{{ .Date.Format .Site.Params.dateformat }}&nbsp;: {{ .Title }}</a></h2>
            <p>{{ .Summary }}</p>
            <a href="{{ .Permalink }}">{{ .Site.Params.texts.read_more }}</a>
        {{- end }}
    </div>
</div>
{{ partial "footer.html" . }}
