{{ partial "header.html" . }}
<div class="container is-clearfix has-margin-7">
  <div class="content{{ with .Params.css_class }} {{ . }}{{ end }}">
    <h1>{{ .Title }}</h1>
    {{- if eq .Section "blog" }}
    <p>{{ .Date.Format .Site.Params.dateformat }}</p>
    {{- end }}
    {{ .Content }}
    {{- if eq .Section "blog" }}
    <hr>
    {{- if .PrevInSection }}
    <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Date.Format .Site.Params.dateformat }} &ndash; {{ .PrevInSection.Title }} &larr;</a>
    {{- else }}
    {{ .Site.Params.texts.no_previous_post }} &larr;
    {{- end }}
    |
    {{- if .NextInSection }}
    <a href="{{ .NextInSection.Permalink }}">&rarr; {{ .NextInSection.Date.Format .Site.Params.dateformat }} &ndash; {{ .NextInSection.Title }}</a>
    {{- else }}
    &rarr; {{ .Site.Params.texts.no_next_post }}
    {{- end }}
    {{- end }}
  </div>
</div>
{{ partial "footer.html" . }}
