{{ range .content }}
  {{ if eq .type "title_and_subtitle" }}
    <p>
      <span class="is-uppercase">{{ .title }}</span><br>
      {{ .subtitle }}
    </p>
  {{ else if eq .type "button" }}
    <p>
      <a class="has-margin-7 button" href="{{ .url }}">
        <span class="icon"><i class="{{ .icon_type | default "fas" }} fa-{{ .icon }}"></i></span>
        <span>{{ .text }}</span>
      </a>
    </p>
  {{ else if eq .type "link" }}
  <p>
    <a class="has-text-white" href="{{ .url }}">
      {{ .text }}
    </a>
  </p>
  {{ else }}
    <div class="notification is-danger">
      Sorry, content type "{{ .type }}" does not exist! Error in the website configuration!
    </div>
  {{ end }}
{{ end }}