<p>{{ .intro }}</p>
{{ range .links }}
  <a href="{{ .url }}" target="_blank">
    <span class="icon is-large has-text-{{ .color | default "white" }}">
      <i class="fab fa-3x fa-{{ .icon }}"></i>
    </span>
  </a>
{{ end }}