{{ with .Site.Params.footer }}
<footer class="footer has-background-dark has-text-grey-light">
  <div class="container is-light">
    <div class="columns">
      {{ range .columns }}
      <div class="column{{ with .align }} has-text-{{ . }}{{ end }}{{ with .mobile_align }} has-text-{{ . }}-touch{{ end }} content">
        {{ if eq .type "social" }}{{ partial "footer_social.html" . }}
        {{ else if eq .type "image" }}{{ partial "footer_image.html" . }}
        {{ else if eq .type "textual" }}{{ partial "footer_textual.html" . }}
        {{ else }}<div class="notification is-danger">
          Sorry, column type "{{ .type }}" does not exist! Error in the website configuration!
        </div>{{ end }}
      </div>
      {{ end }}

    </div>
  </div>
</footer>
{{ end }}
</body>
</html>