{{ if .Site.Params.front_page_content }}
{{- if .Site.Params.front_page_content.facebook_widget.enable }}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v4.0"></script>
{{- end }}
<section class="section is-medium">
  <div class="container">

    {{- if .Site.Params.front_page_content.facebook_widget.enable }}
      <div class="columns">
        <div class="column is-9">
    {{- end }}
    {{ $site := .Site }}

    {{ range  .Site.Params.front_page_content.pages }}
      {{ with $site.GetPage . }}
        <div class="content has-margin-6 is-clearfix">
          <h2>{{ .Title }}</h2>
          {{ if .IsPage }}
            {{ .Content }}
          {{ else }}
            {{ $count := .Params.max_frontpage | default 5 }}
            {{ range first $count .Pages }}
              <h3 class="title is-5"><a href="{{ .Permalink }}">{{ .Date.Format .Site.Params.dateformat }}&nbsp;: {{ .Title }}</a></h3>
              <p>{{ .Summary }}</p>
              <a href="{{ .Permalink }}">{{ .Site.Params.texts.read_more }}</a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
    {{- if .Site.Params.front_page_content.facebook_widget.enable }}
        </div>
        <div class="column is-3">
          <div
            class="fb-page"
            data-href="{{ .Site.Params.front_page_content.facebook_widget.url }}"
            data-tabs="{{ .Site.Params.front_page_content.facebook_widget.type }}"
            data-width=""
            data-height="{{ .Site.Params.front_page_content.facebook_widget.height }}"
            data-small-header="{{ .Site.Params.front_page_content.facebook_widget.small_header }}"
            data-adapt-container-width="true"
            data-hide-cover="{{ .Site.Params.front_page_content.facebook_widget.hide_cover }}"
            data-show-facepile="{{ .Site.Params.front_page_content.facebook_widget.show_facepile }}">
              <blockquote cite="{{ .Site.Params.front_page_content.facebook_widget.url }}" class="fb-xfbml-parse-ignore">
                <a href="{{ .Site.Params.front_page_content.facebook_widget.url }}">
                    {{ .Site.Params.front_page_content.facebook_widget.alt }}
                </a>
              </blockquote>
          </div>
        </div>
      </div>
    {{- end }}

  </div>
</section>
{{ end }}
