{{ $style := resources.Get "scss/main.scss" | resources.ExecuteAsTemplate "scss/main.scss" . | toCSS | minify -}}
{{ $js := resources.Get "js/main.js" | minify -}}
<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ .Title }}{{ if ne .Title .Site.Title }} &ndash; {{ .Site.Title }}{{ end }}</title>
  {{ if .Site.Params.favicon.apple_57 }}<link rel="apple-touch-icon" sizes="57x57" href="{{ .Site.Params.favicon.apple_57 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_60 }}<link rel="apple-touch-icon" sizes="60x60" href="{{ .Site.Params.favicon.apple_60 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_72 }}<link rel="apple-touch-icon" sizes="72x72" href="{{ .Site.Params.favicon.apple_72 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_76 }}<link rel="apple-touch-icon" sizes="76x76" href="{{ .Site.Params.favicon.apple_76 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_114 }}<link rel="apple-touch-icon" sizes="114x114" href="{{ .Site.Params.favicon.apple_114 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_120 }}<link rel="apple-touch-icon" sizes="120x120" href="{{ .Site.Params.favicon.apple_120 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_144 }}<link rel="apple-touch-icon" sizes="144x144" href="{{ .Site.Params.favicon.apple_144 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_152 }}<link rel="apple-touch-icon" sizes="152x152" href="{{ .Site.Params.favicon.apple_152 }}">{{ end }}
  {{ if .Site.Params.favicon.apple_180 }}<link rel="apple-touch-icon" sizes="180x180" href="{{ .Site.Params.favicon.apple_180 }}">{{ end }}
  {{ if .Site.Params.favicon.android_192 }}<link rel="icon" type="image/png" sizes="192x192"  href="{{ .Site.Params.favicon.android_192 }}">{{ end }}
  {{ if .Site.Params.favicon.favicon_32 }}<link rel="icon" type="image/png" sizes="32x32" href="{{ .Site.Params.favicon.favicon_32 }}">{{ end }}
  {{ if .Site.Params.favicon.favicon_96 }}<link rel="icon" type="image/png" sizes="96x96" href="{{ .Site.Params.favicon.favicon_96 }}">{{ end }}
  {{ if .Site.Params.favicon.favicon_16 }}<link rel="icon" type="image/png" sizes="16x16" href="{{ .Site.Params.favicon.favicon_16 }}">{{ end }}
  {{ if .Site.Params.favicon.android_manifest }}<link rel="manifest" href="{{ .Site.Params.favicon.android_manifest }}">{{ end }}
  {{ if .Site.Params.favicon.ms_tilecolor }}<meta name="msapplication-TileColor" content="{{ .Site.Params.favicon.ms_tilecolor }}">{{ end }}
  {{ if .Site.Params.favicon.ms_144 }}<meta name="msapplication-TileImage" content="{{ .Site.Params.favicon.ms_144 }}">{{ end }}
  {{ if .Site.Params.favicon.themecolor }}<meta name="theme-color" content="{{ .Site.Params.favicon.themecolor }}">{{ end }}
  {{ if .Site.Params.favicon.dot_ico }}<link rel="shortcut icon" href="{{ .Site.Params.favicon.dot_ico }}" type="image/x-icon">
  <link rel="icon" href="{{ .Site.Params.favicon.dot_ico }}" type="image/x-icon">{{ end }}
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta property="og:url" content="{{ .Site.BaseURL }}">
  {{ if .Site.Params.opengraph.image }}<meta property="og:image" content="{{ .Site.Params.opengraph.image }}">{{ end }}
  {{ if .Site.Params.opengraph.description }}<meta property="og:description" content="{{ .Site.Params.opengraph.description }}"> {{ end }}
  <script defer src="https://use.fontawesome.com/releases/v5.11.2/js/all.js"></script>
  {{ if .Site.Params.default_font.css }}<link href="{{ .Site.Params.default_font.css }}" rel="stylesheet">{{ end }}
  <link rel="stylesheet" href="{{ $style.Permalink }}">
  <script src="{{ $js.Permalink }}" defer></script>
  {{- range .Site.Params.defer_js }}
  <script src="{{ . }}" defer></script>
  {{- end }}
</head>

<body>
{{ partial "navbar.html" . }}