<section class="hero is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">

        <div class="column has-text-centered">
          <img class="has-width-70" src="{{ .Site.Params.hero.logo }}">
        </div>

        <div class="column">
          <h1 class="title{{ if .Site.Params.hero.logo_has_title }} is-hidden-mobile{{ end }} is-uppercase has-text-{{ .Site.Params.hero.title.color }}">
            {{ .Site.Params.hero.title.text | safeHTML }}
          </h1>
          <h2 class="subtitle is-uppercase has-text-{{ .Site.Params.hero.subtitle.color }}">
            {{ .Site.Params.hero.subtitle.text | safeHTML }}
          </h2>
          <ul class="has-text-{{ .Site.Params.hero.details_color | default "primary" }}">
            {{- range .Site.Params.hero.details }}
            <li class="has-margin-6">
                {{ if .img }}
                  <figure class="image is-24x24 is-inline-block align-v-middle"><img src="{{ .img }}"></figure>
                {{ else if .icon }}
                  <span class="icon is-size-4 has-text-{{ .icon_color | default "primary" }} align-v-middle">
                    <i class="{{ .icon_type | default "fas" }} fa-{{ .icon }}"></i>
                  </span>
                {{ end }}
              &nbsp;
              <span>{{ .text | safeHTML }}</span>
            </li>
            {{- end }}
          </ul>
        </div>

      </div>
    </div>
  </div>
  {{ if .Site.Params.front_page_content }}
    <a class="hero-foot has-text-{{ .Site.Params.hero.arrow_color | default "primary" }} has-text-centered" href="#hero-next">
      <span class="icon is-size-1">
        <i class="fas fa-chevron-down"></i>
      </span>
    </a>
  {{ end }}
</section>
{{ if .Site.Params.front_page_content }}
  <a name="hero-next"></a>
{{ end }}