<nav class="navbar is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}">
      <img src="{{ .Site.Params.navbar.logo }}">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
  <div class="navbar-menu">
      {{ if .Site.Params.navbar.left }}
        <div class="navbar-start">
          {{ range .Site.Params.navbar.left }}
            {{ if .menu }}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ .text }}
                </a>
                <div class="navbar-dropdown is-right">
                  {{ range .menu }}
                    <a class="navbar-item" href="{{ .url }}"{{ if .target }} target="{{ .target }}"{{ end }}>
                      {{ .text }}
                    </a>
                  {{- end }}
                </div>
              </div>
            {{ else }}
              <a class="navbar-item" href="{{ .url }}"{{ if .target }} target="{{ .target }}"{{ end }}>
                {{ if .button }}<span class="button{{ if .buttoncolor }} is-{{ .buttoncolor }}{{ end }}">{{ end }}
                  {{ .text }}
                {{ if .button }}</span>{{ end }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
      {{ if .Site.Params.navbar.right }}
        <div class="navbar-end">
          {{ range .Site.Params.navbar.right }}
            {{ if .menu }}
              <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  {{ .text }}
                </a>
                <div class="navbar-dropdown is-right">
                  {{ range .menu }}
                    <a class="navbar-item" href="{{ .url }}"{{ if .target }} target="{{ .target }}"{{ end }}>
                      {{ .text }}
                    </a>
                  {{- end }}
                </div>
              </div>
            {{ else }}
              <a class="navbar-item" href="{{ .url }}"{{ if .target }} target="{{ .target }}"{{ end }}>
                {{ if .button }}<span class="button{{ if .buttoncolor }} is-{{ .buttoncolor }}{{ end }}">{{ end }}
                  {{ .text }}
                {{ if .button }}</span>{{ end }}
              </a>
            {{ end }}
          {{ end }}
        </div>
      {{ end }}
  </div>
</nav>
