{{- $hasZoom := 0 }}{{- $hasRight := 0 }}{{- $hasLeft := 0 }}{{- $isSmall := 0 }}{{- $isMedium := 0 }}{{- $isLarge := 0 }}
{{- range .Params }}
{{- if eq . "zoom" }}{{ $hasZoom = 1 }}
{{- else if eq . "right" }}{{ $hasRight = 1 }}
{{- else if eq . "left" }}{{ $hasLeft = 1 }}
{{- else if eq . "small" }}{{ $isSmall = 1 }}
{{- else if eq . "medium" }}{{ $isMedium = 1 }}
{{- else if eq . "large" }}{{ $isLarge = 1 }}
{{- end }}
{{- end -}}
<div>
  {{ if $hasZoom }}
    <div class="modal" onclick="this.parentNode.getElementsByClassName('modal')[0].classList.remove('is-active')">
      <div class="modal-background"></div>
      <div class="modal-card">
        <section class="modal-card-body">
          <p class="image">
            <img src="{{ .Site.Params.img.path }}{{ .Get 0 }}">
          </p>
        </section>
      </div>
      <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <a onclick="this.parentNode.getElementsByClassName('modal')[0].classList.add('is-active')">
  {{ end }}
  <figure class="image{{if $hasLeft}} is-pulled-left{{else if $hasRight}} is-pulled-right{{end}}">
    <img
      src="{{ .Site.Params.img.path }}{{ .Get 0 }}"
      {{ if $isMedium }}style="height:{{ .Site.Params.img.medium_height }}"
      {{ else if $isSmall }}style="height:{{ .Site.Params.img.small_height }}"
      {{ else if $isLarge }}style="height:{{ .Site.Params.img.large_height }}"
      {{ end }}>
  </figure>
  {{ if $hasZoom }}
    </a>
  {{ end }}
</div>